
    <button class="add">add</button>
    <form class="create" style="display: none" action="/v1/users" method="POST">
        <div>
            <input type="email" name="email" placeholder="email">
        </div>
        <br>
        <div>
            <input type="text" name="fullName" placeholder="full name">
        </div>
        <br>
        <button type="submit">add user</button>
    </form>
