<form class="updateUser" action="/v1/users/update" method="POST">
<input type="text" placeholder="full name" name="fullName">
<input type="hidden" name="id" value="<%=userId%>">
<button>update</button>
</form>
