
    <form class="create" action="/v1/users" method="POST">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <div>
            <input type="email" name="email" placeholder="email">
        </div>
        <br>
        <div>
            <input type="text" name="fullName" placeholder="full name">
        </div>
        <br>
        <button type="submit">add user</button>
    </form>
